body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

header h1 {
    color: #333;
}

#profil {
    text-align: center;
    margin-bottom: 20px;
}

#profil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#kontak, #pendidikan, #keterampilan {
    margin-bottom: 20px;
}

#kontak h2, #pendidikan h2, #keterampilan h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

#kontak p, #pendidikan p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
